html, body {
	font-family: sans-serif;
}

localized-volume {
	background: #a8ff00;
}

.table {
	display: grid;
	grid-template-columns: 2fr repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 11px;
	grid-row-gap: 0px;
}

.noscriptmsg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: red;
}